/*title*/

.title {
    height: 400px;
    background-image: url(../common/Aurora.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.icon {
    float: left;
    margin-left: 100px;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    padding: 5px;
    border: 5px solid rgba(226,232,240,1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.title h1 {
    float: left;
    padding-left: 70px;
    font-weight: bold;
    line-height: 400px;
    margin-left: 300px;
    color: white;
}

/*main*/

.main {
    margin-left: 100px;
    padding-bottom: 100px;
}

h2 {
    font-size: 30px;
    padding: 12px 0 12px 15px;
    border-left: 8px solid #435560;
    margin: 100px 0 30px;
}

.expl {
    padding-bottom: 30px;
}

/*card*/

.card {
    padding: 20px 0 20px 30px;
    height: auto;
    width: 600px;
    border-radius: 20px;
    border: 1px solid #E2E8F0;
    box-shadow:
        0 8px 10px 1px rgba(0,0,0,0.14),
        0 3px 14px 2px rgba(0,0,0,0.12),
        0 5px 5px -3px rgba(0,0,0,0.2);
    margin-bottom: 40px;
}

.card p {
    padding-left: 20px;
}

.h {
    padding-bottom: 5px;
    font-size: 30px;
}

table{
    margin-left: 20px;
    margin-top: 10px;
    width: 90%;
    border-collapse: collapse;
  }
  
  table tr{
    border-bottom: solid 2px white;
  }
  
  table tr:last-child{
    border-bottom: none;
  }
  
  table th{
    position: relative;
    text-align: left;
    width: 100px;
    background-color: #52c2d0;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  table th:after{
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top:calc(50% - 10px);
    right:-10px;
    border-left: 10px solid #52c2d0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  table td{
    text-align: left;
    width: 250px;
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
  }

iframe {
    margin-bottom: 30px;
}

.last {
    margin-bottom: 100px;
}