@font-face {
    font-family: "Product Sans";
    src: url("/fonts/ProductSans-Regular.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Product Sans', 'Noto Sans JP', 'Noto Sans SC', sans-serif;
}

a:link, a:visited, a:hover, a:active {
    color: white;
  }

li {
    list-style: none;
}

body {
    font-size: 24px;
    color: #404040;
    background-color: #F9FBFE;
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
}

body, #wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*header*/

header {
    height: 100px;
    width: 100%;
    padding: 15px 0;
    background-color: #435560;
    color: white;
}

header .headline {
    line-height: 100px;
    float: left;
    margin-left: 100px;
    font-size: 45px;
}

.nav-list {
    line-height: 100px;
    float: left;
    margin-left: 30px;
}

.nav-list-item {
    line-height: 50px;
    position: relative;
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
}

.nav-list-item::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}

.nav-list-item:hover:after {
    transform: scale(1,1);
}

/*title*/

.title {
    height: 400px;
    background-image: url(../img/Aurora.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 100px;
}

.title h1 {
    float: left;
    padding-left: 70px;
    font-weight: bold;
    line-height: 400px;
    margin-left: 100px;
    color: white;
}

/*main*/

.main {
    margin-left: 100px;
    margin-bottom: 100px;
    flex: 1;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  float: left;
}

/*card*/

.card {
    float: left;
    margin: 0 50px 100px 50px;
    width: 400px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
  }
  .card-img {
    height: 225px;
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    display: block;
    margin: 0 auto;

  }
  .card-content {
    padding: 20px;
  }
  .date {
    font-size: 14px;
    color: #667EEA;
    margin-bottom: 5px;
  }
  .card-title {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    color: #333;
  }
  .card-text {
    text-align: left;
    color: #777;
    font-size: 15px;
    line-height: 1.5;
  }

  .card-link a {
    text-decoration: none;
    color: #0bd;
    margin: 0 10px;
  }
  .card-link a:hover {
    color: #0090aa;
  }

/*footer*/

footer {
    background-color: #435560;
    color: white;
    padding: 40px;
    height: 50px;
    text-align: center;
    bottom: 0;

}

.footer-menu li {
    display: inline;
    padding: 0 30px;
}


